{
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "singleLine": false,
  "arrowParens": "avoid",
  "printWidth": 70,
  "tabWidth": 2,
  "endOfLine": "lf"
}
