.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.controls {
}

.saveBtn {
  margin-left: 20px;
  color: green;
}

.btnsContainer {
  margin-left: auto;
}
