.app.dark {
  --bg-color: rgb(29, 97, 232);
  --inverted-bg-color: rgb(138, 161, 206);

  --primary-color: #18ff0c;
  --secondary-color: #006f08;
  --inverted-primary-color: #6003f5;
  --inverted-secondary-color: #1900ff;
}
