.app_light_theme {
  --bg-color: rgb(138, 161, 206);
  --inverted-bg-color: rgb(29, 97, 232);

  --primary-color: #6003f5;
  --secondary-color: #1900ff;
  --inverted-primary-color: #18ff0c;
  --inverted-secondary-color: #006f08;
}
