.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.editing {
  border: 2px solid yellow;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
