.CommentCard {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.header {
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

.avatar {
  margin-right: 10px;
}

.loading {
  border: none;
}
